@font-face {
  font-family: 'robotoregular';
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.woff2') format('woff2'),
    url('Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_serifregular';
  src: url('PTF55F-webfont.eot');
  src: url('PTF55F-webfont.woff2') format('woff2'),
    url('PTF55F-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_serifbold';
  src: url('PTF75F-webfont.eot');
  src: url('PTF75F-webfont.woff2') format('woff2'),
    url('PTF75F-webfont.woff') format('woff'),
  font-weight: bold;
  font-style: normal;
}
